@import '../../styles/mixins/flex.scss';

:host {
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  padding: 20px;
}

.card {
  padding: 20px;
  margin: 5px;
  box-shadow: 2px 2px 5px #888888;
}

.row {
  @include layout-horizontal;
  box-shadow: none;
  padding: 5px;
}

.wrap {
  @include layout-wrap;
}

.flex {
  margin: 5px;
  @include layout-flex;
}

.flex-2 {
  margin: 5px;
  @include layout-flex-2;
}

.flex-3 {
  margin: 5px;
  @include layout-flex-3;
}

.flex-11 {
  @include layout-flex-11;
}
table {
  width: 100%;
  td {
    border: 1px solid grey;
    padding: 2px 5px;
    margin: 0px;
    border-spacing: 0px;
  }
  th {
    border: 1px solid grey;
    padding: 2px 5px;
  }
}

h1, h2, h3, h4 {
  margin: 0
}

google-map {
  height: 520px;
  margin-bottom: 15px;
}

paper-button {
  background-color: #4285F4;
  color: white;
}